.weatherList {
    display: flex;
    

    .weather:first-child {
        background-color: #1d1d1d;
    }
    .weather:nth-child(2) {
        background-color: #272727;
    }
    .weather:nth-child(3) {
        background-color: #313131;
    }
    .weather:nth-child(4) {
        background-color: #3b3b3b;
    }
    .weather:nth-child(5) {
        background-color: #454545;
    }
    .weather {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 250px;
        height: 250px;
        border: 1px solid gray;
        border-radius: 20% 20%;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 10px;
        box-shadow: 6px 5px 15px 0 black;

        .city {
            margin-top: -8px;
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .region{
            margin-top: -10px;
            font-size: 0.8em;
            font-weight: 500;
        }

        .date{
            margin-top: -10px;
            font-size: 0.75em;
            font-weight: 100;
        }

        .weekday {
            font-weight: 500;
        }

        .temperature {
            display: flex;
            justify-content: center;
            gap: 10%;
            font-weight: 500;

            .max {
                color: #db6565;
            }

            .min {
                color: #7f7bed;
            }
        }
    }
    
    img {
        margin-top: -5px;
        width: 70px;
        height: 70px;
    }
}

.weatherButtonList {
    margin-top: 10px;
    background-color: #1d1d1d;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid gray;
    transition: border-color 0.25s;
    box-shadow: 0 5px 15px 0 black;

    &:hover {
        border-color: lightgreen;
        transform: scale(1.2);
        transform-origin: 50% 50%;
    }
}


.favoritesHeartContainer {
    .heartIcon {
        margin-top: 10px;
        border: 2px solid gray;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 5px 15px 0 black;
        pointer-events:stroke;
        cursor: pointer;
        &:hover {
            border-color: lightgreen;
            transform: scale(1.2);
            transform-origin: 35% 50%;
        }
    }
}



.favoritesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: auto;
    margin-top: 10px;

    .favorite {
        font-size: 0.75em;
        margin: 2px;
        background-color: #1d1d1d;
        border: 2px solid #111111;
        border-radius: 4px;
        color: white;
        padding: 5px;
        transition: border-color 0.25s;
        
        &:hover {
            border-color: lightgreen;
        }
    }

}