.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.searchContainer {
    display:flex;
    flex-direction:row;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 80%;
    outline: 2px solid gray;
    border-radius: 25px;
    &:focus-within { 
        outline: 2px solid lightgreen; 
        border: none;
    }

    .searchBox {
        display: inline-block;
        width: 90%;
        font-size: 1.1em;
        background-color: inherit;
        border: none;
        padding: 5px;
        padding-left: 20px;
        &:focus {
            outline: none;
        }

    }
    .searchButton  {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: inherit;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: black;
            .searchIcon {
                margin: 5px;
            }
        }

        .searchIcon {
            margin: 5px;
        }
    }
}

.mapContainer {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;

    .mapsWindow {
        color: black;
        text-align: left;

        p, h4 {
            margin: 5px 0;
        }

        .heartIcon {
            pointer-events:stroke;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                stroke: lightgreen;
                transform: scale(1.4);
                transform-origin: 35% 50%;
            }
        }
    }
}

.suggestionContainer {   
    max-width: 100%;
    margin: 0 4%;

    .suggestion {
        font-size: 0.75em;
        margin: 2px;
        background-color: #1d1d1d;
        border: 2px solid #111111;
        border-radius: 4px;
        color: white;
        padding: 5px;
        transition: border-color 0.2s;
        
        &:hover {
            border-color: lightgreen;
        }
    }
}